# instagram username and password
INSTAGRAM_USERNAME=your_username
INSTAGRAM_PASSWORD=your_password

# instagram username and password of blocked account
BLOCKED_INSTAGRAM_USERNAME=your_blocked_username
BLOCKED_INSTAGRAM_PASSWORD=your_blocked_password